body {
    text-align: center;
    background-color: rgb(245, 240, 240);
}
fieldset {
    margin-top: 15%;
    padding: 100px;
    border-width: 0px;
    background-color: white;
}
label {
    margin-right: 15px;
    font-size: 1.25em;
    color: black;
}
#text-area {
    margin-right: 15px;
    width: 300px;
    height: 35px;
    border-radius: 10px;
    border-width: 3px;
}
#submit-button {
    font-size: 1.0em;
    padding: 5px 25px;
    background-color: grey;
    color: white;
    border-width: 0px;
}